@model Drop.SqlViews.Cerere

@{
    ViewBag.Title = "Edit";
}

<h2>Modifică cererea</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4><br></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Centru, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Centru, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Centru, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataLimita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DataLimita, new { @type = "date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.DataLimita, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DonatiiNecesare, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DonatiiNecesare, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DonatiiNecesare, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GrupaSanguinaNecesara, htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.EnumDropDownListFor(model => model.GrupaSanguinaNecesara, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GrupaSanguinaNecesara, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
